@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Josefin+Sans:wght@300&family=Poppins:ital,wght@0,100;0,200;0,300;0,700;0,800;0,900;1,100;1,200;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: white;
    padding: 17px 37px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 117px;
}




.logo {
    font-size: x-large;
    font-weight: bolder;
    color: black;
    font-family: serif;
    margin-left: -75px;


}

.navigation {
    margin-top: 20px;
    margin-right: 53px;
}

.navigation a {
    text-decoration: none;
    margin: 20px;

}

.navigation a:hover {
    color: orangered;
}

section {
    padding: 50px;
}

.one {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;



}


.on img {
    width: 717px;
}

.on .br {
    display: flex;
    margin-top: 10px;
    gap: 103px;
}

.br h1 {
    font-size: 3em;
    font-weight: bold;


}

.br .dive {
    display: flex;
    flex-direction: column;
    gap: 85px;

}

.br .read {
    width: 160px;
    height: 50px;
    background-color: brown;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.read:hover {
    background-color: #00001a;
}

.one .tw {
    background-color: #00001a;
    width: 305px;
    padding: 20px;



}

.tw h2 {


    color: chocolate;
    font-size: 3em;


}


.one .tw h3,
.one .tw p {
    color: white;
    margin-bottom: 7px;

}

.tw h3 {
    font-weight: bold;

}

.tw hr {
    margin-top: 31px;
    margin-bottom: 18px;
}

.two {
    display: flex;
    gap: 34px;

}

.two div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}




.two .infos {
    color: black;
    display: flex;
    flex-direction: column;

}

.infos h1 {
    font-size: 1.5em;
    color: gray;

}

.two img {
    width: 100%;
    height: 50%;
}





.infos h3 {
    font-weight: bold;
}

footer {
    text-align: center;
}